* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#bio {
  height: 100vh;
  max-width: 100%;
  background: linear-gradient(
      0deg,
      rgba(238, 130, 238, 0.5),
      rgba(110, 84, 110, 0.5)
    ),
    url("../images/ali-arif-soydas-3ICVaI2uzfE-unsplash.jpg") center
      center/cover no-repeat fixed;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: "Garamond";
  overflow: hidden;
}

header {
  display: flex;
  position: absolute;
  top: 2vh;
}

header nav {
  display: flex;
  flex-direction: row;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 1.5rem;
}

li {
  margin: 0 2rem;
}

li a {
  text-decoration: none;
  color: white;
}

#main-bio {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 25vh;
  bottom: 0;
  font-size: 2rem;
  flex-grow: 1;
  flex-wrap: wrap;
  contain: content;
  font-style: italic;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#main-bio p {
  width: 32vw;
  align-self: flex-start;
  color: rgb(247, 242, 242);
}

#move1 {
  width: 30vw;
  height: fit-content;
  align-self: flex-start;
  margin-left: 25vw;
  margin-top: 5vh;
  color: beige;
}

#move2 {
  width: 30vw;
  height: fit-content;
  align-self: flex-end;
  margin-top: 5vh;
  color: rgb(238, 238, 181);
}


/* MEDIA QUERIES
Portrait and landscape*/

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  #bio {
    background: none;
    background-image: linear-gradient(#e66465, #9198e5, #896da3);
  }
  header nav ul {
    font-size: 1.2rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  ul li {
    margin: 0.7rem;
  }

  #main-bio {
    flex-direction: column;
    flex-flow: column nowrap;
    width: 95%;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: small;
  }

  #main-bio p,
  #move1,
  #move2 {
    margin: 1rem;
    width: 50%;
    font-size: small;
    justify-self: center;
    position: relative;
    padding: 0;
    flex-wrap: wrap;
    align-self: center;
    color: #011220;
  }
}
