* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#bio {
  height: 100vh;
  max-width: 100%;
  background: linear-gradient(
      0deg,
      rgba(238, 130, 238, 0.5),
      rgba(110, 84, 110, 0.5)
    ),
    url("../images/ali-arif-soydas-3ICVaI2uzfE-unsplash.jpg") center
      center/cover no-repeat fixed;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: "Garamond";
  overflow: hidden;
}

header {
  display: flex;
  position: absolute;
  top: 2vh;
}

header nav {
  display: flex;
  flex-direction: row;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 1.5rem;
}

li {
  margin: 0 2rem;
}

li a {
  text-decoration: none;
  color: white;
}

#main-bio {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 25vh;
  bottom: 0;
  font-size: 2rem;
  flex-grow: 1;
  flex-wrap: wrap;
  contain: content;
  font-style: italic;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#main-bio p {
  width: 40vw;
  align-self: flex-start;
  color: rgb(247, 242, 242);
}

#move1 {
  width: 40vw;
  height: fit-content;
  align-self: flex-start;
  margin-left: 20vw;
  margin-top: 5vh;
  color: beige;
}

#move2 {
  width: 40vw;
  height: fit-content;
  align-self: flex-end;
  margin-left: 20vw;
  margin-top: 5vh;
  color: rgb(238, 238, 181);
}

#portfolio {
  display: flex;
  height: 20%;
  position: relative;
  top: 40vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
}

#proj1,
#proj2,
#proj3,
#proj4 {
  flex-wrap: wrap;
  margin: 0 1rem;
  align-self: center;
}

#proj1,
#proj3 {
  width: 18vw;
  height: 40vh;
  border-radius: 10px;
}

#proj2,
#proj4 {
  width: 25vw;
  height: 30vh;
}

#proj1 {
  background: url("https://i.pinimg.com/originals/e1/fb/77/e1fb774ec9839221aa0b1e7fc9f0d89f.png")
    center center/cover;
  border: 20px dashed;
}

#proj2 {
  background: url("https://sun9-54.userapi.com/impg/zePy1DTckFDT5Nwv4ULkHBJOYXXUZqx1_nnT-Q/xOvre6IX17M.jpg?size=1110x1920&quality=96&sign=06619be6390f9caee464e7ff91e5d1f5&type=album")
    center center/cover;
  margin-top: 10%;
  border: red 6px solid;
}

#proj3 {
  background: url("https://images.unsplash.com/photo-1497935586351-b67a49e012bf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mjh8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80")
    center center/cover;
  margin-top: 10%;
}

#proj4 {
  border: 8px dashed;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9CD9v1-FcEI1UAKSlyO0KnOBr3Q0FC3TePw&usqp=CAU")
    center center/cover;
  margin-top: 20%;
}

/* MEDIA QUERIES
Portrait and landscape*/

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  #bio {
    background: none;
    background-image: linear-gradient(#e66465, #9198e5, #896da3);
  }
  header nav ul {
    font-size: 1.2rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  ul li {
    margin: 0.7rem;
  }

  #main-bio {
    flex-direction: column;
    flex-flow: column nowrap;
    width: 97%;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: small;
  }

  #main-bio p,
  #move1,
  #move2 {
    margin: 1rem;
    width: 90%;
    font-size: small;
    justify-self: center;
    position: relative;
    padding: 0;
    flex-wrap: wrap;
    align-self: center;
    color: #011220;
  }
}
