* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  max-width: 100%;
  background: url("../images/robin-schreiner-sN3ZCrA7adY-unsplash.jpg") center
    center/cover no-repeat fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: "Garamond";
  overflow: hidden;
  z-index: 1;
}

header {
  display: flex;
  position: absolute;
  top: 2vh;
  z-index: 2;
  font-weight: bold;
}

header nav {
  display: flex;
  flex-direction: row;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 1.5rem;
}

li {
  margin: 0 2rem;
}

li a {
  text-decoration: none;
  color: white;
}

#overlayPortfolio {
  background-color: rgba(124, 163, 102, 0.6);
  min-height: 100%;
  min-width: 100%;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#portfolio {
  display: grid;
  /* grid-template-rows: main; */
  grid-template-areas: "#proj1 #proj2 #proj3 #proj4";
  grid-template-columns: 25% 25% 25% 25%;
  height: 90%;
  width: 97%;
  position: absolute;
  top: 20vh;
  z-index: 3;
}

#announce {
  font-size: 0;
}

#proj1,
#proj2,
#proj3,
#proj4 {
  color: azure;
  font-size: 1.5rem;
  text-align: center;
  width: 20vw;
  height: 45vh;
  border-radius: 10%;
}

#proj1Photo {
  background: url("../images/my_little_victories.png") center center/cover;
  width: auto;
  height: 100%;
  margin: auto;
  border-radius: 10%;
}


#proj2Photo {
  background: url("../images/habitude-app.png") center center/cover;
  width: auto;
  height: 100%;
  margin: auto;
  border-radius: 10%;
}

#proj2 {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

#proj3 {
  background: url("https://images.unsplash.com/photo-1497935586351-b67a49e012bf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mjh8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80")
    center center/cover;
  margin-top: 20vh;
}

#proj4 {
  border: 8px dashed;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9CD9v1-FcEI1UAKSlyO0KnOBr3Q0FC3TePw&usqp=CAU")
    center center/cover;
  margin-top: 30vh;
}

/* MEDIA QUERIES
  Portrait and landscape*/
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  header nav ul {
    font-size: 1.2rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  ul li {
    margin: 0.5rem;
  }

  #portfolio {
    grid-template-columns: 100%;
    overflow-y: scroll;
  }

  #proj1,
  #proj2,
  #proj3,
  #proj4 {
    width: 95%;
    margin: auto;
    margin-bottom: 2rem;
    height: 60vh;
  }

  /* Landscape only */
  @media only screen and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    ul li {
      margin: 0 0.6rem;
    }

    #portfolio {
      grid-template-columns: auto auto;
    }

    #proj1,
    #proj2,
    #proj3,
    #proj4 {
      width: 37vw;
      height: 80vh;
      margin: auto;
      margin-bottom: 2rem;
    }
  }
}
