* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../images/valentina-aleksandrovna-BExYKIjiPQE-unsplash\ -\ Copy.jpg");
  background-position-y: center;
  background-size: cover;
  z-index: -2;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: "Garamond";
  overflow: hidden;
  z-index: 1;
}

body::after {
  content: "";
  background: rgba(61, 172, 182, 0.5);
  z-index: -1;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

header {
  display: flex;
  position: absolute;
  top: 10vh;
  flex-direction: column;
  align-items: center;
  color: white;
}

header h1 {
  font-size: 3rem;
}

header hr {
  display: inline-block;
  min-width: 85%;
}

header p {
  font-size: 1.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 25vh;
  bottom: 0;
  font-size: 1.5rem;
  flex-grow: 1;
}

img {
  width: 8rem;
  height: auto;
  border-radius: 30%;
  border: 4px white solid;
  position: absolute;
  top: 30vh;
}

nav {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 57vh;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

li {
  margin: 2rem;
}

li a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: bisque;
  font-size: larger;
  cursor: pointer;
}

/* MEDIA QUERIES */
/* Portrait and landscape*/

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  body::before {
    left: -65vw;
    bottom: -25vh;
  }

  body::after {
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }

  header {
    top: 3vh;
  }

  header h1 {
    font-size: 2.2rem;
  }

  header p {
    font-size: 1.1rem;
  }

  img {
    width: 6rem;
    top: -3vh;
  }

  main {
    top: 20vh;
  }

  nav {
    flex-direction: column;
    top: 32vh;
  }

  ul {
    flex-direction: column;
    align-items: center;
  }

  ul li {
    margin: 1.7vh;
  }

  li a {
    font-weight: 700;
  }
}

/* Landscape only */
@media only screen and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {


  main {
    display: flex;
    position: relative;
    top: 25vh;
    width: 95%;
    justify-content: space-around;
    flex-direction: row;
    contain: content;
  }

  img {
    position: relative;
    flex-direction: column;
    top: -3vh;
    width: 40vh;
  }

  nav {
    position: relative;
    flex-direction: column;
    top: 1vh;
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

   ul li{
    margin-bottom: 3vh;
  }
}

/* iPads */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {

  img {
    top: -2vh;
  }

}